{% extends "starwars.html" %}
{% block title %}User Registration{% endblock %}
{% block content %}
<div class="registration">
    <form method="post" action="/registration">
        <label for="first_name">First name:</label>
        <p><input type="text" id="first_name" required name="first_name"></p>

        <label for="last_name">Last name:</label>
        <p><input type="text" id="last_name" required name="last_name"></p>

        <label for="user_name">Your Username:</label>
        <p><input type="text" id="user_name" name="username" required></p>

        <label for="email">Email:</label>
        <p><input type="email" id="email" name="email" required></p>

        <label for="password">Password:</label>
        <p><input type="password" id="password" name="password" required></p>

        <label for="submit"></label>
        <p><button type="submit" id="submit" >Register</button></p>
    </form>
</div>


{% endblock %}