{% extends "starwars.html" %}
{% block content %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <span><a href="">Planet list</a></span>
        <span><a href="/registration" data-toggle="modal" data-target="#modalRegister">Registration</a></span>

        <span>
            <form method="POST" action="/login">
                <label for="username"></label>
                <input type="text" id="username" name="username" placeholder="Username, por favor">

                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="and password">

                <label for="submit"></label>
                <button type="submit" id="submit" name="submit">Login</button>
            </form>
        </span>
        <span><a href="/logout">Logout</a></span>
        {% if logged_user %}
        <span>Howdy, {{ logged_user }}?</span>
        {% else %}
        <span>You are not logged in</span>
        {% endif %}
    </div>
</nav>

<h1 class="header">See some space stats</h1>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{{ url_for('main_page', direction='prev') }}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="{{ url_for('main_page', direction='next') }}">Next</a></li>
    </ul>
</nav>

<div class="container">
    <div class="table">
        <table>
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Diameter</th>
                <th scope="col">Climate</th>
                <th scope="col">Terrain</th>
                <th scope="col">Surface water percentage</th>
                <th scope="col">Population</th>
                <th scope="col">Residents</th>
                <th scope="col">Vote</th>
            </tr>
            </thead>

            <tbody>
            {% for item in planets_data %}
            <tr>
                <td>{{ item['name'] }}</td>
                <td>{{ item['diameter'] }} km</td>
                <td>{{ item['climate'] }}</td>
                <td>{{ item['terrain'] }}</td>
                {% if item['surface_water']== 'unknown' %}
                <td>{{ item['surface_water'] }}</td>
                {% else %}
                <td>{{ item['surface_water'] }} %</td>
                {% endif %}
                <td>{{ item['population'] }}</td>
                {% if item['residents'] %}
                {% set nr_of_residents = item['nr_of_residents']|length %}
                <td><button type="button" class="btn btn-info residents" id="residents" name="residents"
                            data-toggle="modal" data-target="#exampleModal" value="{{ item['residents'] }}"
                >{{ nr_of_residents }} resident(s)
                </button></td>
                {% else %}
                <td>No known residents</td>
                {% endif %}
                <td><button type="button" class="btn btn-info resbut" id="vote" name="vote" value="Vote">Vote</button></td>

            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% include "modal.html" %}
{% include "registration.html" %}
{% endblock %}
