{% extends "starwars.html" %}
{% block content %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <span><a href="">Planet list</a></span>
        <span><a data-toggle="modal" href="/registration">Registration</a></span>

        <span>
            <form method="post" action="/login">
            <input type="text" placeholder="Username, por favor">
            <input type="password" placeholder="and password">

            <button type="submit" id="submit" >Login</button>
            </form>
        </span>
        <span><a href="/logout">Logout</a></span>
        {% if logged_user %}
        <span>Howdy, {{ logged_user }}?</span>
        {% else %}
        <span>You are not logged in</span>
        {% endif %}
    </div>
</nav>

<h1 class="header">See some space stats</h1>

<div class="container">
<div class="table">
    <table>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Diameter</th>
            <th scope="col">Climate</th>
            <th scope="col">Terrain</th>
            <th scope="col">Surface water percentage</th>
            <th scope="col">Population</th>
            <th scope="col">Residents</th>
            <th scope="col">Vote</th>
        </tr>
        </thead>

        <tbody>
        {% for item in planets_data %}
        <tr>
            <td>{{ item['name'] }}</td>
            <td>{{ item['diameter'] }} km</td>
            <td>{{ item['climate'] }}</td>
            <td>{{ item['terrain'] }}</td>
            <td>{{ item['surface_water'] }}</td>
            <td>{{ item['population'] }}</td>
            {% if item['residents'] %}
            {% set nr_of_residents = item['residents']|length %}
            <td><button type="button" class="btn btn-info residents" id="residents" name="residents"
                        value="{{ item['residents'] }}"
                        onclick="getResidentData()">{{ nr_of_residents }} resident(s)
            </button></td>
            {% else %}
            <td>No known residents</td>
            {% endif %}
            <td><button type="button" class="btn btn-info" id="vote" name="vote" value="Vote">Vote</button></td>

        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
</div>

{% endblock %}
